#counsel_wrap{
	width: 100%;
	text-align: center;
}

#counsel_title{
	background: green;
	width: 350px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto 20px auto;
	border-radius: 20px;
	color: white;
	font-weight: bold;
}

#counsel_content > .img_wrap{
	display: inline-block;
}
#counsel_content > .img_wrap img{
	width: 100px;
	height: 150px;
}
#counsel_content > .info_wrap{
	display: inline-block;	
}

#counsel_check{
	width: 350px;
	text-align: center;
	margin: 10px auto 20px auto;
}