

/*헤더를 꾸며보자*/
    div[data-role=header] {
        background-color: white !important;
        color: #2663a3 !important;
        font-weight: bold !important;
        border-top: 10px solid #2663a3 !important;
        border-style: solid !important;
        

    }
    .ui-header .ui-title, .ui-footer .ui-title {
        overflow :visible !important;
    }
    
    /*.ui-icon-back:after{
        background-image : url(../img/arrow.png) !important;
        border-radius : 0px !important;
        background-size: 20px;
        color:#2663a3 ;
        background-color: white;
    }*/
     .ui-icon-back{
        border :none;
     }


    div[data-role=page] {
        background-color: white ;
        color:#2663a3;
    }

    
/*버튼 배경색,테두리 색*/
    .btns .ui-btn ,
    button, ul .ui-btn,.ui-block-a .ui-btn{
        background-color: white !important;
        border-color:#2663a3 !important;
        color:#2663a3 !important;
    }
    .ui-block-b .ui-btn{
        background-color: #2663a3 !important;
        border-color:#2663a3 !important;
        color:white !important;
        text-shadow: none;
    }
    .ui-toolbar-back-btn, .ui-btn-right{
        background-color: white !important;
        border: none !important;
        color:#2663a3 !important;
        box-shadow: none !important;
    }


    /*login화면*/
    hr {
        border :1px solid #e7b90f
    }

    .ui-nodisc-icon .ui-alt-icon{
        color:red;
    }


/*플루팅버튼*/
    #floatting_btn {

        width: 70px;
        position: fixed;
        bottom: 20px;
        padding: 0px;
        right: 20px;
        border-radius: 100px;
        height: 70px;
        background-color: #e7b90f ;
        box-shadow: 0px 0.5px 3px 0px;
        border: none;
        text-shadow: none;
    }

    #floatting_btn >span{
        color:white;
        text-shadow: none;
        margin-top: 20px;
        display: inline-block;
        font-size: 20pt
    }
    #floatting_btn > img {
        padding-top: 15px;
        padding-left: 3px;
        width: 40px;
    }
    
    /*라디오번튼*/
     div.ui-radio label.ui-btn {
         border-color : transparent; 
         background-color : transparent ;
     }
    div.ui-radio input { 
        visibility : hidden;
    }
   

    /*detail에서 사진ㅇ옆에 개인정보*/
   div .discript {
        margin-left: 20px;
   }

   /*자율상담 신청 -fieldset*/
  /* fieldset{
        border-width: 1px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        border-color: #2663a3 !important;
        margin-bottom: 10px;
   }*/
